<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- icon -->
    <link rel="icon" href="/image/icon.webp" type="image/icon type" -->
    <!-- css -->
    <link href="/style.css" rel="stylesheet" id="stylesheet">
    <title>{{ .Site.Title }}</title>
  </head>
  <body>
  <script src="/toggle.js"></script>

  <div class="nav">
    <div class="nav-left">
      <a href="/" class="title nav-left-item squishy">{{ .Site.Title }}</a>
      <button id="themeButton" class="toggle-button nav-left-item squishy" onclick="toggle()">light</button>
    </div>
    <div class="nav-right">
      {{ range .Site.Menus.main }}
        <a class="nav-right-item squishy" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </div>
  
  <div class="body-container">
