<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- icon -->
    <link rel="icon" href="/image/icon.webp" type="image/icon type" -->
    <!-- css -->
    <link href="/drk.css" rel="stylesheet" id="stylesheet">
    <title>{{ .Site.Title }}</title>
  </head>
  <body>
  <script src="https://kit.fontawesome.com/460d3298b2.js" crossorigin="anonymous"></script>
  <script src="/tggl.js"></script>

  <div class="nav left-right">
    <div class="left">
      <a href="/" class="title nav-left-item squishy">{{ .Site.Title }}</a>
      <button id="themeButton" class="toggle-button nav-left-item squishy" onclick="toggleTheme()">
<i class="fa-solid fa-circle-half-stroke"></i>
      </button>
    </div>
    <div class="right">
      {{ range .Site.Menus.nav }}
        <a class="nav-right-item squishy" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </div>
  
  <div class="body-container">
