<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- icon -->
    <link rel="icon" href="/image/icon.webp" type="image/icon type" -->
    <!-- css -->
    <link href="dark.css" rel="stylesheet" id="stylesheet">
    <title>{{ .Site.Title }}</title>
  </head>
  <body>
  <div class="container">

  <script src="toggle.js"></script>
  <button id="themeButton" onclick="toggleTheme()">LIGHT</button>
