{{ partial "head.html" . }}

<div class="bio-container">
  <div class="bio-left squishy">
    <p class="bio-content">This is a place for me to document bits and bobs I'm up to that interest me. Expect linux and self-hosting tinkering, some novice programming, and maybe the occasional recipe.</p>
  </div>
  <div class="bio-right squishy">
    <div class="squishy">
      {{ range .Site.Params.social }}
        <a href="{{ .url }}">{{ .name }}</a>
      {{ end}}
    </div>
  </div>
</div>


{{ range .Site.RegularPages | first 4 }}
  <div class="post-div squishy">
  <h4><a href="{{ .RelPermalink }}">{{ .Title | upper }}</a></h4>
  <date>{{ .Date.Format "2 Jan 2006" }}</date>
  <p>{{ .Summary }}</p>
  </div>
{{ end }}

{{ partial "foot.html" . }}

