{{ partial "head.html" . }}

<div class="bio-container">
  <!-- <img class="bio-pic" src="/image/icon.webp" alt="icon"> -->
  <p class="bio-content">This is a place for me to document bits and bobs I'm up to that interest me. Expect linux and self-hosting tinkering, some novice programming, and maybe the occasional recipe.</p>
  {{ range .Site.Params.social }}
    <a href="{{ .link }}">
      <i class="{{ .faCode }}" style="padding:5px;"></i>
    </a>
  {{ end}}
</div>


  <h4>Recent posts</h4>
{{ range .Site.RegularPages | first 3 }}
  <div class="post-div squishy">
  <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
  <date>{{ .Date.Format "2 Jan 2006" }}</date>
  <p>{{ .Summary }}</p>
  </div>
{{ end }}

{{ partial "foot.html" . }}

