body {
  background-color: var(--bg);
  color: var(--fg);
}

a {
  color: var(--fg);
}

a:hover {
  color: var(--ac);
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.container img {
    margin: auto;
    display: block;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
}

.container .highlight {
    margin: auto;
    display: block;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
}

