@import url("base.css");

:root {
  --bg: #32302f;
  --fg: #fbf1c7;
  --ac: #b8bb26;
}

button {
  background-color: var(--fg);
  color: var(--bg);
  border: none;
}

button:hover {
  background-color: var(--ac);
  color: var(--bg);
}
